@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="description" content="@ViewBag.Description" />
    <meta name="keywords" content="@ViewBag.Keywords" />
    <link href="/site/css/@HobiHobi.Web.MvcApplication.CommonCssTag" rel="stylesheet" type="text/css" />
    <link href="@ViewBag.LinkedCss" rel="stylesheet" type="text/css" />
    
    <script src="/site/js/@HobiHobi.Web.MvcApplication.CommonJsTag" type="text/javascript"></script>
    <script src="@ViewBag.LinkedJs" type="text/javascript"></script>
   
    @Html.Raw(ViewBag.HeadInline)
</head>
<body>

@if (ViewBag.EditLink != null)
{
    <div id="edit_this_blog"><a href="@ViewBag.EditLink">Edit <i class="icon-edit"></i></a></div>
}
    <br />
    <a href="@ViewBag.OpmlUrl"><img src="/Images/opml-icon-128x128.png" width="32" /></a>
    <br /><br />
    @Html.Raw(ViewBag.Body)
    
    @Html.Raw(ViewBag.BodyInline)

    <div class="hero-unit">
        <h1>This page is left deliberately empty</h1>
        <p>I am working on this(dodyg). If you are owner, you can <a href="@ViewBag.EditLink">edit</a> your blog via the edit link at the top of this page</p>
    </div>
    <style type="text/css">
        #edit_this_tabbed_rivers {
            margin-left:15px;
            margin:5px;
        }
    </style>
</body>
</html>
