@{
    ViewBag.Title = ViewBag.BlogTitle;
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.BlogTitle</h2>

<div class="tabbable">
    <ul class="nav nav-tabs" id="feed_tabs">
        @foreach (var f in ViewBag.Feeds)
        {
            <li><a href="#@f.Url" data-url="@f.Url" data-id="@f.Id" data-toggle="tab">@f.Title</a></li>
        }
        <li><a href="#" id="feed_new" data-id="feed_new">+</a></li>
    </ul> 
</div>

<a href="#" id="feed_tab_link" target="_blank"><i class="icon-zoom-in"></i></a>

<div id="message"></div>

<form id="new_post">
    <textarea class="input-xxlarge" id="post_content" name="content"></textarea>
    <br />
    <input type="url" id="post_link" class="input-xxlarge" name="link" placeholder="Link"/>
    <br />
    <button type="submit" class="btn btn-primary">Post</button>
</form>

<table class="table" id="posts"></table>


<div class="modal hide fade" id="feed_create">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Create feed</h3>
  </div>
  <div class="modal-body">
    <div id="message_popup"></div>
    <form id="new_feed">
        <input type="text" class="input-large" placeholder="Title" id="feed_title" name="title"/>
        <br />
        <textarea class="input-large" id="feed_description" name="description" placeholder="Description"></textarea>
        <br />
        <input type="hidden" id="feed_blog_id" value="@ViewBag.BlogId" />
    </form>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
    <a href="#" class="btn btn-primary" id="save_new_feed">Save changes</a>
  </div>
</div>

@section JsInline{
    
    <script type="text/javascript">
        $(function () {
            var firstTab = $('#feed_tabs li:first');

            if (firstTab == null)
                return;

            firstTab.attr('class', 'active');//select first one
            var firstTabUrl = firstTab.children(':first'); 
            $('#feed_tab_link').attr('href', '/f/' + firstTabUrl.data('url'));
            load(firstTabUrl.data('id'));
        });

        function load(feedId) {
            $.get('/manage/blog/getposts/?feedId=' + feedId, function (payload) {
                if (payload.Data.length == 0)
                    $('#posts').html('');
                else {
                    var template = $('#tmpl-posts').html();

                    var compiled = _.template(template, { posts: payload.Data });
                    $('#posts').html(compiled);
                }
            });

        }

        $('a[data-toggle="tab"]').on('shown', function (e) {
            var id = $(e.target).data('id');
            $('#feed_tab_link').attr('href', '/f/' + $(e.target).data('url'));//switch the link to the rendering of the blog
            load(id);
        })

        $('#feed_new').click(function () {
            $('#feed_create').modal();
        });

        $('#save_new_feed').click(function () {
            var title = $.trim($('#feed_title').val());
            if (title.length < 6) {
                alarm('Title must be at least 10 characters long', '#message_popup');
                return;
            }

            var description = $.trim($('#feed_description').val());
            if (description.length == 0) {
                alarm('Description is required', '#message_popup');
                return;
            }

            var doc = {
                blogId: $('#feed_blog_id').val(),
                title: title,
                description: description
            };

            var json = JSON.stringify(doc);

            $.ajax('/manage/blog/createfeed', {
                data: json,
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                dataType: 'json'
            }).done(function (payload) {
                if (payload.StatusCode != 200) {
                    alarm(payload.StatusMessage + ":" + payload.ErrorDetails, '#message_popup');
                }
                else //operation successful
                    document.location.reload(true);
            });
        });

        $('#new_post').submit(function () {
            var content = $.trim($('#post_content').val());
            if (content.length == 0)
                return false;

            var activeTab = $('#feed_tabs li.active a');
            var id = activeTab.data('id');

            var doc = {
                feedId : id,
                content : content
            };

            var link = $('#post_link').val();

            if (link.length > 0)
                doc.link = link;

            var json = JSON.stringify(doc);

            $.ajax('/manage/blog/createpost', {
                data: json,
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                dataType: 'json'
            }).done(function (payload) {
                //insert the data into the list
                var template = $('#tmpl-single-post').html();
                var compiled = _.template(template, { post: payload.Data });
                $('#posts').prepend(compiled);
                postFormReset();
                inform('Your post is successfully added');
            });

            return false;
        });

        function postFormReset() {
            $('#post_content').val('');//reset the content
            $('#post_link').val('');
        }

        function inform(msg, target) {
            if (target === undefined)
                $('#message').removeClass().addClass('alert alert-success').html(msg).show().fadeOut(3000);
            else
                $(target).removeClass().addClass('alert alert-success').html(msg).show().fadeOut(3000);
        }

        function alarm(msg, target) {
            if (target === undefined) 
                $('#message').removeClass().addClass('alert alert-error').html(msg).show().fadeOut(10000);
            else
                $(target).removeClass().addClass('alert alert-error').html(msg).show().fadeOut(10000);
        }
    </script>

    
    <script id="tmpl-posts" type="text/template">
        <% for (var i = 0; i < posts.length; i++) { %>
            <% var p = posts[i] %>
            <tr id="<%= p.Id %>">
                <td><%= p.Content %>
                <% if (p.ShortLink != null) { %>
                    <a href="<%= p.ShortLink %>"><b class="icon-zoom-in"></b></a>
                <% } %>
                </td>
            </tr>
        <% } %>
    </script>
    <script id="tmpl-single-post" type="text/template">
        <tr id="<%= post.Id %>">
            <td><%= post.Content %>
                <% if (post.ShortLink != null) { %>
                    <a href="<%= post.ShortLink %>"><b class="icon-zoom-in"></b></a>
                <% } %>
            </td>
        </tr>
    </script>
}