@{
    ViewBag.Title = ViewBag.BlogTitle;
    Layout = "~/Areas/Manage/Views/Shared/_LayoutApp.cshtml";
}

<h2>@ViewBag.BlogTitle</h2>

<div class="tabbable">
    <ul class="nav nav-tabs" id="feed_tabs" data-ng-controller="TabsController">
        @foreach (var f in ViewBag.Feeds)
        {
            <li data-ng-click="load($event)"><a href="#@f.Url" data-url="@f.Url" data-id="@f.Id" data-toggle="tab">@f.Title</a></li>
        }
        <li data-ng-click="showNewFeedDialog()"><a href="#" id="feed_new" data-id="feed_new">+</a></li>
    </ul> 
</div>

<a href="#" id="feed_tab_link" target="_blank"><i class="icon-zoom-in"></i></a>

<div data-ng-controller="MessageController" class="{{ type }}">
    {{ message }}
</div>

<div id="message"></div>

<div data-ng-controller="PostController">
    <form novalidate>
        <span id="post_content_count">280</span><br />
        <textarea class="input-xxlarge" data-ng-model="post.content" onkeyup="countChar(this)" required></textarea>
        <br />
        <input type="url" class="input-xxlarge" data-ng-model="post.link" placeholder="Link"/>
        <br />
        <button class="btn btn-primary" data-ng-click="newPost(post)">Post</button>
    </form>
</div>


<div data-ng-controller="PostListController">
    <table class="table">
        <tr data-ng-repeat="p in posts">
            <td>{{ p.Content }} <span data-ng-bind-html-unsafe="showLink(p.ShortLink)"></span></td>
        </tr>
    </table>
</div>

<table class="table" id="posts"></table>


<div class="modal hide fade" id="feed_create" data-ng-controller="FeedController">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Create feed</h3>
  </div>
  <div class="modal-body">
    <div id="message_popup"></div>
    <form id="new_feed">
        <input type="text" class="input-large" placeholder="Title" name="title" data-ng-model="feed.title"/>
        <br />
        <textarea class="input-large" name="description" placeholder="Description" data-ng-model="feed.description"></textarea>
        <br />
        <input type="hidden" id="feed_blog_id" value="@ViewBag.BlogId"/>
    </form>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
    <a href="#" class="btn btn-primary" id="save_new_feed" data-ng-click="newFeed(feed)">Save changes</a>
  </div>
</div>



@section JsInline{
    <script src="/Scripts/angular.min.js"></script>
    <script src="/Scripts/App/lib.js"></script>
    <script src="/Scripts/App/blog.js"></script>
       
    <script id="tmpl-single-post" type="text/template">
        <tr id="<%= post.Id %>">
            <td><%= post.Content %>
                <% if (post.ShortLink != null) { %>
                    <a href="<%= post.ShortLink %>"><b class="icon-zoom-in"></b></a>
                <% } %>
            </td>
        </tr>
    </script>
}