@model HobiHobi.Core.ViewModels.RiverTemplateViewModel
@{
    ViewBag.Title = Local.Manage.River.EditTemplate.Title;
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}

<h2>@Local.Manage.River.EditTemplate.Title @Model.RiverTitle</h2>
<a target="_blank" href="/r/@Model.RiverName">Open your Tabbed River</a>
<br /><br />
<div class="tabbable">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#wall_template" data-toggle="tab">Wall Template</a></li>
        <li><a href="#feed_template" data-toggle="tab">Feed Template</a></li>
        <li><a href="#css" data-toggle="tab">CSS</a></li>
        <li><a href="#javascript" data-toggle="tab">JavaScript</a></li>
        <li><a href="#html-head-inline" data-toggle="tab">Head Inline</a></li>
        <li><a href="#html-body-inline" data-toggle="tab">Body Inline</a></li>

    </ul>
    <div id="message"></div>
    <form method="post" action="@Request.RawUrl">
        <div class="tab-content">
             @Html.HiddenFor(m => m.RiverGuid)
                       
            <div class="tab-pane active" id="wall_template">
                @Html.AntiForgeryToken(HobiHobi.Core.SiteConstants.ANTI_FORGERY_SALT)
                <div class="control-group">
                    <div class="alert alert-info">
                        Use this template to customize the overall look of your <a target="_blank" href="/r/@Model.RiverName">Tabbed River</a>.
                    </div>
                    <label class="control-label" for="WallLiquidTemplate">Wall Template</label>
                    <div class="controls">
                        @Html.TextAreaFor(m => m.WallTemplate)
                    </div>
                </div>
            </div>
            <!-- end of wall_template -->
            <div class="tab-pane" id="feed_template">
                <div class="control-group">
                    <div class="alert alert-info">
                        Use this template to customize the way the river feeds looked on your <a target="_blank" href="/r/@Model.RiverName">Tabbed River</a>.
                    </div>
                    <label class="control-label" for="FeedLiquidTemplate">Feed Template</label>
                    <div class="controls">
                        @Html.TextAreaFor(m => m.FeedTemplate)
                    </div>
                </div>
            </div>
            <!-- end of feed_template -->

            <div class="tab-pane" id="css">
                <div class="control-group">
                    <div class="alert alert-info">
                        Use this template to customize the CSS for the overall site (including feeds) on your <a target="_blank" href="/r/@Model.RiverName">Tabbed River</a>.
                    </div>
                    <label class="control-label" for="LessCss">CSS (with Less)</label>
                    <div class="controls">
                        @Html.TextAreaFor(m => m.LessCss)
                    </div>
                </div>
            </div>
            <!-- end of css -->

            <div class="tab-pane" id="javascript">
                <div class="control-group">
                    <div class="alert alert-info">
                        Use this template to customize the JavaScript required to make your <a target="_blank" href="/r/@Model.RiverName">Tabbed River</a> works.
                    </div>
                    <label class="control-label" for="JavaScript">JavaScript</label>
                    <div class="controls">
                        @Html.TextAreaFor(m => m.JavaScript)
                    </div>
                </div>
            </div>
            <!-- end of javascript -->

            <div class="tab-pane" id="html-head-inline">
                <div class="control-group">
                    <div class="alert alert-info">
                        Use this to add extra meta or html for the head section of your <a target="_blank" href="/r/@Model.RiverName">Tabbed River</a>.
                    </div>
                    <label class="control-label" for="HtmlHeadInline">Html Head Inline</label>
                    <div class="controls">
                        @Html.TextAreaFor(m => m.HtmlHeadInline)
                    </div>
                </div>
            </div>
            <!-- end of html head inline -->


            <div class="tab-pane" id="html-body-inline">
                <div class="control-group">
                    <div class="alert alert-info">
                        Use this to add extra script or html at the body section of your <a target="_blank" href="/r/@Model.RiverName">Tabbed River</a>.
                    </div>
                    <label class="control-label" for="HtmlBodyInline">Html Body Inline</label>
                    <div class="controls">
                        @Html.TextAreaFor(m => m.HtmlBodyInline)
                    </div>
                </div>
            </div>
            <!-- end of html head inline -->


            <div class="control-group">
                <div class="controls">
                    <button type="submit" id="save_submit" class="btn btn-primary">@Local.Manage.River.EditTemplate.BtnSubmit</button>
                </div>
            </div>
        </div>
<!-- end of tab-content -->
</form>
</div><!-- end of tabbable -->

@section HeadInline{
    @CodeMirror.Declaration(Html)
}

@section JsInline{
    <script type="text/javascript">
        var feed_template_shown = false, css_shown = false, javascript_shown = false, html_head_shown = false,
            html_body_shown = false;

        var wall_editor = null, feed_editor = null, css_editor = null, js_editor = null, html_head_editor = null,
        html_body_editor = null;

        $(function () {
            @CodeMirror.Js("wall_editor", "WallTemplate", "htmlmixed")

            $('a[data-toggle="tab"]').on('shown', function (e) {
                var ref = $(e.target).attr('href');
                if (ref == '#feed_template' && !feed_template_shown) {
                    feed_template_shown = true;
                    @CodeMirror.Js("feed_editor", "FeedTemplate", "htmlmixed")
                } else if (ref == '#css' && !css_shown) {
                    css_shown = true;
                    @CodeMirror.Js("css_editor", "LessCss", "less")
                } else if (ref == '#javascript' && !javascript_shown) {
                    javascript_shown = true;
                    @CodeMirror.Js("js_editor", "JavaScript", "javascript")
                } else if (ref == '#html-head-inline' && !html_head_shown) {
                    html_head_shown = true;
                    @CodeMirror.Js("html_head_editor", "HtmlHeadInline", "htmlmixed")
                }
                else if (ref == '#html-body-inline' && !html_body_shown) {
                    html_body_shown = true;
                    @CodeMirror.Js("html_body_editor", "HtmlBodyInline", "htmlmixed")
                 }
            });
            
        });

        @CodeMirror.JsFunction()

        $('#save_submit').click(function () {
            if (wall_editor == null)
                var wall = $('#WallTemplate').text();
            else
                var wall = wall_editor.getValue();
            
            if (feed_editor == null)
                var feed = $('#FeedTemplate').text();
            else
                var feed = feed_editor.getValue();

            if (css_editor == null)
                var less = $('#LessCss').text();
            else
                var less = css_editor.getValue();

            if (js_editor == null)
                var js = $('#JavaScript').text();
            else
                var js = js_editor.getValue();

            if (html_head_editor == null)
                var html_head = $('#HtmlHeadInline').text();
            else
                var html_head = html_head_editor.getValue();

            if (html_body_editor == null)
                var html_body = $('#HtmlBodyInline').text();
            else
                var html_body = html_body_editor.getValue();

            var riverGuid = $('#RiverGuid').val();

            var doc = {
                RiverGuid: riverGuid,
                WallTemplate: wall,
                FeedTemplate: feed,
                LessCss: less,
                JavaScript: js,
                HtmlHeadInline : html_head,
                HtmlBodyInline : html_body
            };

            var json = JSON.stringify(doc);

            $.ajax('/manage/river/edittemplate', {
                data: json,
                contentType: 'application/json; charset=utf-8',
                type: 'POST',
                dataType : 'json'
            })
                .done(function (payload) {
                    if (payload.StatusCode == 200)
                        inform("Update saved");
                    else {
                        var details = JSON.parse(payload.ErrorDetails);
                        var r = $('<ul></ul>');
                        _.each(details.Properties, function (m) {
                            switch (m.Key) {
                                case "WallTemplate": r.append("<li>Wall Template : " + m.Errors[0] + "</li>");
                                    break;
                                case "FeedTemplate": r.append("<li>Feed Template : " + m.Errors[0] + "</li>");
                                    break;
                                case "LessCss": r.append("<li>CSS : " + m.Errors[0] + "</li>");
                                    break;
                                case "JavaScript": r.append("<li>JavaScript : " + m.Errors[0] + "</li>");
                                    break;
                            }
                        });

                        alarm(r);
                    }
                })
                .fail(function (jqXHR, textStatus) {
                    alarm('fail ' + textStatus);
                });

            return false;
        });

        function inform(msg){
            $('#message').removeClass().addClass('alert alert-success').html(msg).show().fadeOut(3000);
        }
        
        function alarm(msg) {
            $('#message').removeClass().addClass('alert alert-error').html(msg).show().fadeOut(10000);
        }
    </script>
}

@section SideNavigation{
<ul class="nav nav-pills nav-stacked">
    <li><a href="/manage/river/sources?guid=@Model.RiverGuid">Sources</a></li>
    <li class="active"><a href="#">Style</a></li>
</ul>
}