@model HobiHobi.Core.Subscriptions.RiverSubscription
@{
    ViewBag.Title = "Tabbed Rivers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a href="https://github.com/dodyg/hobi-hobi"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>

<br />
<br />
@if (Request.IsAuthenticated)
{
    <div id="logout" style="margin-bottom:5px;">
        <a href="/identity/logout">@Local.Identity.Logout.LnkLogout</a>
    </div>
}else{
    @Html.Partial("~/Views/Identity/_Login.cshtml")
    
}

@this.Flash()
<div class="tabbable">
    <ul class="nav nav-tabs" id="river_tabs">
        @foreach (var river in Model.Items){
            <li><a href="#@river.Name" data-id="@river.Name" data-toggle="tab" data-origin-feed="@river.JSONPUri">@river.Text</a></li>
        }
    </ul>
</div>

<h1 id="river_title">Apple River</h1>
<br />

<div style="font-size:16px;">
Source : <a href="#" id="river_origin_feed"></a>
</div>


<div id="river">
    @ViewBag.Output
</div>
<br /><br />

<div id="loading_div">
    <img src="/images/ajax_spinner.gif" alt="wait" />
</div>

@section JsInline{
    <script type="text/ecmascript">
        $(function () {            
            $('#loading_div').hide()  // hide it initially
                .ajaxStart(function () {
                    $(this).show();
                })
                .ajaxStop(function () {
                $(this).hide();});
            
            var firstTab = $('#river_tabs li:first');
            firstTab.attr('class', 'active'); //select first one
            loadFromNavigation(firstTab.children(':first'));
            

            $('a[data-toggle="tab"]').on('shown', function (e) {
                loadFromNavigation($(e.target));
            })
        });

        function loadFromNavigation(target) {
            var feedName = target.data('id');
            var feedOrigin = target.data('origin-feed');
            var feedTitle = target.text();
            load(feedName, feedTitle, false, feedOrigin);
        }

        function load(feedName, feedTitle, isInitial, feedOrigin) {
            
            $.get('/home/feed?feedname=' + feedName, function (data) {
                //change title
                $('#river_title').html(feedTitle);

                if (feedOrigin !== undefined) {
                    $('#river_origin_feed')
                        .attr('href', 'http://' + feedOrigin)
                        .html(feedOrigin);
                }

                $('#river').html(data);
                if (isInitial)
                    arrange();
                else {
                    $('#river').isotope('destroy');
                    arrange() 
                }
            });
        }

        function arrange() {
            $('#river').isotope({
                itemSelector: ".feed_item",
                layoutMode: 'masonry',
                getSortData: {
                    feed_id: function ($elem) {
                        return parseInt($elem.data('id'));
                    }
                },
                sortBy: 'feed_id',
                sortAscending: false
            });
        }
    </script>
}

@section HeadInline{
<link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:700' rel='stylesheet' type='text/css'>
}

@section CssInline{
    <style type="text/css">
        body {
            background-image: url('/images/dark_wood.png');
            background-repeat: repeat;
                
            /*background-color:#4d6a80;*/
            color:lightgray;
        }

        h1, h2 {
            color: lightgray;
            font-family: 'Yanone Kaffeesatz', sans-serif;
        }
        h1 {
            font-size:48px;
        }

        h2 {
            font-size:26px;
            line-height:28px;
        }

        a:link, a:visited{
            color:lightgray;
        }
        
        .feed_item {
            width: 300px;
            
            margin-right:25px;
            margin-top:5px;
            margin-bottom:25px;
        }

            
            .feed_item h3 {
                font-size: 14px;
                line-height: 16px;
            }

            a.item_link {
                color:deeppink;
            }

        .feed_item_body {
            background-image: url('/images/paper.png');
            background-repeat: repeat;
            background-color:#f7f1f1;
            padding:5px;
            border-bottom-right-radius: 12px;
            border-top-right-radius: 12px; 
            font-family:'Courier New';
            color: #232323;
        }

        .feed_item_body a:link, .feed_item_body a:visited{
            color:deeppink;
        }

        .feed_item_thumbnail {
            margin:5px;
        }
        .feed_item_comments, .feed_item_date, .last_updated, .feed_origin_website, .feed_origin_website a:link {
            font-size:10px;
        }
       
        
        #loading_div {
            height: 400px;
            position: relative;
        }
            #loading_div img{
                position: absolute;
                left: 50%;
                top: 50%;
                margin-left: -32px; /* -1 * image width / 2 */
                margin-top: -32px;  /* -1 * image height / 2 */
                display: block;     
            }
    </style>
}