@model HobiHobi.Core.ViewModels.UserViewModel
@{
    ViewBag.Title = @Local.Identity.Register.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- trigger another deployment -->
<h2>@Local.Identity.Register.Title</h2>
@this.Flash()
<div class="alert alert-info">
<p>@Html.Raw(Global.Messages.RegistrationInfo)</p>
</div>
<form class="form-horizontal" action="/identity/register" method="post">
    @Html.HiddenFor(m => m.Id)
    @Html.ValidationSummary(true)
  <div class="control-group">
    <label class="control-label" for="Email">@Local.Identity.Register.LblEmail</label>
    <div class="controls">
      @Html.TextBoxFor(m => m.Email, new { placehoder = "email"})
      @Html.ValidationMessageFor(m=>m.Email)
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="Password">@Local.Identity.Register.LblPassword</label>
    <div class="controls">
      @Html.PasswordFor(m => m.Password, new { placehoder = "password"})
      @Html.ValidationMessageFor(m=>m.Password)
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="RepeatPassword">@Local.Identity.Register.LblRepeatPassword
    </label>
    <div class="controls">
      @Html.PasswordFor(m => m.RepeatPassword, new { placehoder = "repeat password"})
      @Html.ValidationMessageFor(m=>m.RepeatPassword)
    </div>
  </div>
    <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-primary">@Local.Identity.Register.BtnSubmit</button>
    </div>
  </div>
</form>