<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="/site/css/@HobiHobi.Web.MvcApplication.CommonCssTag" rel="stylesheet" type="text/css" />
    <script src="/site/js/@HobiHobi.Web.MvcApplication.CommonJsTag" type="text/javascript"></script>
   
    @RenderSection("HeadInline", false)

    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-33664856-7']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
</head>

<body>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <i>This is a <a href="http://scripting.com/davenet/2000/11/30/bootstrapping.html">bootstrap</a> of <a href="http://threads.scripting.com/81312ByDw/openarchitectureTwitterlikeEcoystem">open Twitter-like ecosystem</a>. Everybody is welcome.</i>
                @RenderBody()
            </div>
        </div>
    </div>
    @RenderSection("CssInline", false)
    @RenderSection("JsInline", false)

</body>
</html>
