<!DOCTYPE html>
<html ng-app="blogModule">
<head>
    <title>@ViewBag.Title</title>
    <link href="/site/css/@HobiHobi.Web.MvcApplication.CommonCssTag" rel="stylesheet" type="text/css" />
    <link href="/Content/Manage.css" rel="stylesheet" />
    <script src="/site/js/@HobiHobi.Web.MvcApplication.CommonJsTag" type="text/javascript"></script>
    @RenderSection("HeadInline", false)

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="span2" style="padding-top:60px;">
                @RenderSection("SideNavigation", false)
            </div>
            <div class="span10">
                @RenderBody()
            </div>
        </div>
    </div>
    @RenderSection("CssInline", false)
    @RenderSection("JsInline", false)

    <div id="loading_div" style="display:none;">
        <img src="/images/ajax_spinner.gif" alt="wait" />
    </div>

    <style type="text/css">
    #loading_div {
            height: 400px;
            position: relative;
        }
            #loading_div img{
                position: absolute;
                left: 50%;
                top: 50%;
                margin-left: -32px; /* -1 * image width / 2 */
                margin-top: -32px;  /* -1 * image height / 2 */
                display: block;     
            }
    </style>
</body>
</html>
